<mat-toolbar color='primary'>
    <span>Help Sihem</span>
    <button *ngIf="loginService.connectedUser" routerLink="/" routerLinkActive="active-link" mat-button>Home</button>
    <button *ngIf="loginService.connectedUser && loginService.connectedUser.role!='user'" routerLink="/users" routerLinkActive="active-link" mat-button>Users</button>
    <button *ngIf="loginService.connectedUser" routerLink="/students" routerLinkActive="active-link" mat-button>Students</button>
    <span class="example-spacer"></span>
    <span *ngIf="loginService.connectedUser" style="margin-right: 30px;">{{loginService.connectedUser.name.last + " " + loginService.connectedUser.name.first}}</span>
    <button *ngIf="loginService.connectedUser" (click)="logout()" mat-raised-button color="accent">Logout</button>
</mat-toolbar>